@import "variables";

#art-section {
  background: url("../images/art1-bg.png") no-repeat;
  background-position: 50% 80%;
  z-index: 160;

  #art-portfolio-header {
    position: absolute;
    top:0px;
    width: 100%;
    z-index: 140;
    background: url("../images/2ndBar.png") no-repeat;
    max-height: 230px;
    height: 100%;

    h1 {
      position: absolute;
      text-align: center;
      font-family: 'Fjalla One';
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      bottom: 40%;
      span {
        color: $orange;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
    }
  }
  #art-text {
    visibility: hidden;
    position: absolute;
    z-index: 180;
    bottom: 7%;
    left: 3%;
    font-family: 'Fjalla One';
    color: white;
    font-size: 2em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    span {
      color: $orange;
      font-size: 3em;
    }
  }
  #art-portfolio-heading {
    visibility: hidden;
    position: absolute;
    bottom: 7%;
    right: 3%;
    font-family: 'Fjalla One';
    color: $orange;
    z-index: 180;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  #artists {
    #art-2 {
      position: absolute;
      max-width: 310px;
      right: 25%;
      top: 48%;
      width: 90%;
      visibility: hidden;
      z-index: 185;
    }

    #art-1 {
      position: absolute;
      max-width: 280px;
      width: 90%;
      top: 30%;
      left: 21%;
      visibility: hidden;
      z-index: 185;
    }
  }
}

/* Mobile Styles for Navigation & Social Icons */
@media only screen and (max-width: 40em) {
  #art-section {
    #art-portfolio-header {
      h1 {
      }
    }
    #artists {
      #art-2 {
        max-width: 170px;
        right: 18%;
        top: 45%;
      }
      #art-1 {
        max-width: 150px;
        top: 40%;
        left: 15%;
      }
    }
    #art-text {
      font-size: 1em;
    }
  }
}

/* Tabs and Bigger Styles for Navigation & Social Icons */
@media only screen and (min-width: 40.063em) {
  #art-section {
    #art-portfolio-header {
      h1 {
        left: 0;
        bottom: 33%;
      }
    }
    #artists {
      #art-2 {
        max-width: 200px;
      }

      #art-1 {
        max-width: 180px;
        top: 40%;
      }
    }
    #art-text {
      font-size: 1.1em;
    }
  }
}

// Large Screen
@media only screen and (min-width: 64.063em) {
  #art-section {
    #art-portfolio-header {
      h1 {
        bottom: 40%;
        left: 15%;
      }
    }
    #artists {
      #art-2 {
        position: absolute;
        max-width: 310px;
        right: 25%;
        top: 48%;
        width: 90%;
        visibility: hidden;
        z-index: 185;
      }

      #art-1 {
        position: absolute;
        max-width: 280px;
        width: 90%;
        top: 33%;
        left: 23%;
        visibility: hidden;
        z-index: 185;
      }
    }
  }
}