#dev-section {
  background: url("../images/dev-bg.png");
  z-index: 200;
  position: relative;

  #dev-heading {
    font-family: 'Fjalla One';
    color: white;
    font-size: 40px;
    position: absolute;
    top: 5%;
    right: 4%;
    z-index: 240;
  }

  #structure {
    position: absolute;
    bottom: 0%;
    width: 80%;
    left: 9%;
    z-index: 210;
  }

  #dev-sub-heading {
    text-align: center;
    font-size: 28px;
    font-family: 'Fjalla One';
    color: white;
    position: absolute;
    bottom: 5%;
    left: 34%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 240;
    span {
      color: #ffc800;
      font-size: 65px;
    }
  }

  #engineers {
    #right-eng {
      position: absolute;
      max-width: 280px;
      right: 30%;
      top: 42%;
      width: 90%;
      z-index: 220;
      visibility: hidden;
    }

    #left-eng {
      position: absolute;
      max-width: 340px;
      width: 90%;
      top: 13%;
      left: 24%;
      z-index: 220;
      visibility: hidden;
    }
  }
}

/* Mobile Styles for Navigation & Social Icons */
@media only screen and (max-width: 40em) {
  #dev-section {
    #dev-sub-heading {
      line-height: 1;
      font-size: 17px;
      left: 25%;
      span {
        font-size: 34px;
      }
    }
    #structure {
      width: 95%;
      left: 2.5%;
    }
    #engineers {
      #left-eng {
        max-width: 160px;
        top: 20%;
        left: 8%;
      }

      #right-eng {
        max-width: 140px;
        right: 14%;
        top: 32%;
      }
    }
  }
}

/* Tabs and Bigger Styles for Navigation & Social Icons */
@media only screen and (min-width: 40.063em) {
  #dev-section {
    #dev-sub-heading {
      font-size: 24px;
      left: 29%;
      span {
        font-size: 52px;
      }
    }
    #engineers {
      #right-eng {
        max-width: 169px;
        right: 30%;
        top: 42%;
      }

      #left-eng {
        max-width: 210px;
        top: 26%;
        left: 24%;
      }
    }
  }
}

// Large Screen
@media only screen and (min-width: 64.063em) {
  #dev-section {
    #dev-sub-heading {
      text-align: center;
      font-size: 28px;
      font-family: 'Fjalla One';
      color: white;
      position: absolute;
      bottom: 5%;
      left: 34%;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      z-index: 240;
      span {
        color: #ffc800;
        font-size: 65px;
      }
    }
    #engineers {
      #right-eng {
        position: absolute;
        max-width: 280px;
        right: 30%;
        top: 42%;
        width: 90%;
        z-index: 220;
        visibility: hidden;
      }

      #left-eng {
        position: absolute;
        max-width: 340px;
        width: 90%;
        top: 13%;
        left: 24%;
        z-index: 220;
        visibility: hidden;
      }
    }
  }
}