@import "variables";

header {
  background-color: $header-background-color;
  border-bottom: $header-border;
  .row {
    position: relative;
  }
  top: 0px;
  #logo {
    padding: $logo-padding;
  }

  nav {
    ul {
      list-style-type: none;
      li {
        font-family: $nav-font;
        a {
          color: $nav-font-color;
          :hover {
            color: lighten($nav-font-color, 25);
          }
        }
      }
    }
  }

  /* Mobile Styles for Navigation & Social Icons */
  @media only screen and (max-width: 40em){
    #logo {
      text-align: center;
    }

    nav {
      ul {
        text-align: center;
        margin-left: -10px;
        li {
          font-size: 35px;
        }
      }
    }

    #social-icons {
      padding: 20px;
      text-align: center;
      img {
        padding-right: 10px;
      }
    }
  }

  /* Tabs and Bigger Styles for Navigation & Social Icons */
  @media only screen and (min-width: 40.063em) {
    #logo {
      max-width: 200px;
    }

    nav {
      float: right;
      margin-top: 25px;
      ul {
        margin: 0px;
        li {
          font-size: 1.5em;
          padding: 10px;
          float: left;
        }
      }
    }

    #social-icons {
      margin-left: 20px;
      padding: 10px;
      #fb {

        margin-right: 10px;
        height: 35px;
      }

      #twitter {
        width: 45px;
      }
    }
  }

  // Large Screen
  @media only screen and (min-width: 64.063em) {
    nav {
      ul {
        li {
          font-size: 2em;
        }
      }
    }
  }

}
