// bower:scss
// endbower
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clear {
  clear: both;
}

@import "header";
@import "slider";
@import "rocket";
@import "planets";
@import "animations";
@import "art-portfolio";
@import "dev-portfolio";
@import "team-section";
