/* Mobile Styles for Navigation & Social Icons */
#shuttle-1, #shuttle-2, #shuttle-3, #planet-1, #planet-2, #planet-3, #planet-4 {
  position: absolute;
  width: 100%;
  z-index: 110;
}

@media only screen and (max-width: 40em) {}

/* Tabs and Bigger Styles */
@media only screen and (min-width: 40.063em) {
  #shuttle-1 {
    position: absolute;
    right: 17%;
    top: 20%;
    width: 100%;
    max-width: 100px;
  }

  #shuttle-2 {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 100%;
    max-width: 125px;
  }

  #shuttle-3 {
    position: absolute;
    top: 45%;
    right: 5%;
    max-width: 121px;
    width: 100%;
  }

  #planet-1 {
    position: absolute;
    top: 80%;
    left: 5%;
    width: 74%;
    max-width: 200px;
  }

  #planet-2 {
    position: absolute;
    top: 80%;
    width: 75%;
    max-width: 200px;
    right: 8%;
  }

  #planet-3 {
    position: absolute;
    top: 57%;
    right: 26%;
    z-index: 100;
    max-width: 80px;
    width: 100%;
  }

  #planet-4 {
    position: absolute;
    top: 64%;
    left: 25%;
    max-width: 82px;
    width: 100%;
  }
}

// Large Screen
@media only screen and (min-width: 64.063em) {
  #shuttle-1 {
    position: absolute;
    right: 17%;
    top: 17%;
    width: 100%;
    max-width: 130px;
  }

  #shuttle-2 {
    position: absolute;
    top: 18%;
    left: 5%;
    width: 100%;
    max-width: 150px;
  }

  #shuttle-3 {
    position: absolute;
    top: 43%;
    right: 10%;
    max-width: 165px;
    width: 100%;
  }

  #planet-1 {
    position: absolute;
    top: 80%;
    left: 5%;
    width: 100%;
    max-width: 300px;
  }

  #planet-2 {
    position: absolute;
    top: 80%;
    width: 100%;
    max-width: 320px;
    right: 8%;
  }

  #planet-3 {
    position: absolute;
    top: 65%;
    right: 25%;
    z-index: 100;
    max-width: 100px;
    width: 100%;
  }

  #planet-4 {
    position: absolute;
    top: 60%;
    left: 25%;
    max-width: 82px;
    width: 100%;
  }
}
