//#rocket {
//  position: fixed;
//  top: 82%;
//  left: 41.5%;
//  height: auto;
//  width: 17%;
//  z-index: 200;
//}

#rocket-1, #rocket-2, #rocket-3, #rocket-4 {
  position: absolute;
  left: 41.5%;
  height: auto;
  width: 17%;
  z-index: 250;
  top: 40%;
}

#rocket-1 {
}

#rocket-2 {
}

#rocket-3 {
}

#rocket-4 {
}