#slider-section {
  z-index: 90;
  position: relative;

  #slider-container {
    width: 50%;
    position: absolute;
    top: 8%;
    left: 22%;

    #slider-content {
      width: 80%;
      height: 51%;
      position: absolute;
      top: 29%;
      left: 11.5%;
      div {
        -webkit-mask-box-image: url("../images/mask.svg");
        mask-box-image: url("../images/mask.svg");
      }
    }
    #slider {
      z-index: 115;
      #wire {}
    }
  }
}

/* Mobile Styles for Navigation & Social Icons */
@media only screen and (max-width: 40em) {
  #slider-section {
    #slider {
      width: 81%;
      top: 0%;
      left: 9%;
    }
  }
}

/* Tabs and Bigger Styles for Navigation & Social Icons */
@media only screen and (min-width: 40.063em) {
}

// Large Screen
@media only screen and (min-width: 64.063em) {}
