@import "variables";

#team-section {
  background-image:url('../images/team-bg.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  z-index: 410;
  position: relative;

  #team {
    margin-bottom: 36%;
    #team-img {
      position: absolute;
      width: 45%;
      left: 27%;
      bottom: 28%;
      z-index: 450;
    }
    #team-text {
      position: absolute;
      width: 67%;
      left: 15%;
      z-index: 430;
    }
  }
  #team-caption {
    text-align: center;
    font-family: 'Fjalla One';
    color: $orange;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;
  }
}
/* Mobile Styles for Navigation & Social Icons */
@media only screen and (max-width: 40em) {
  #team-section {
    #team {
      margin-bottom: 55%;
      #team-img {
        width: 69%;
        left: 17%;
        bottom: 30%;
      }
    }
    #team-caption {
      bottom: 5%;
      position: absolute;
    }
  }
}

/* Tabs and Bigger Styles for Navigation & Social Icons */
@media only screen and (min-width: 40.063em) {
  #team-section {
    #team {
      margin-bottom: 42%;
      #team-img {
        bottom: 33%;
      }
    }
  }
}

/* larger screen */
@media only screen and (min-width: 64.063em) {}
