// imports
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
$fella: 'Fjalla One';

$orange: #ef4b22;

// Header Variables
// Colors + Sizes
$header-max-height: 130px;
$header-background-color: #f3efee;
$header-border: 1px solid black;

$logo-max-width: 230px;
$logo-min-width: 200px;
$logo-padding: 20px;

$nav-font: $fella;
$nav-font-color: $orange;